<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>monitor-alarmEngine</contextName>
<!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/alarm.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[[[ %date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            <charset>utf-8</charset>
          <!-- <charset>gbk</charset>-->
        </encoder>
    </appender>


    <!--级别从大到小TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF-->
    <logger name="com.haier.interconn.monitor.alarmEngine" level="debug" additivity="false">

        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
    <!--级别从大到小TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF-->
    <logger name="org.apache.ibatis" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>


</configuration>