<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billy.interconn.monitor.alarmEngine.dao.MonitorAlarmInfoDAO">

	<!-- 插入数据库用户表 -->
	<insert id="insertAlarmInfo"  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO monitor.monitor_alarm_info(application_id,application_name,user_ids,group_ids,reason,alarm_lvl,create_time,app_name)
		VALUES(#{applicationId},#{applicationName},#{userIds},#{groupIds},#{reason},#{alarmLvl},NOW(),#{appName})
	</insert>


</mapper>